<section class="dash-title">
    <h3>Create New Post</h3>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" class="new-post-title" />
        </div>
        <div>
            <label for="post-text">Text</label>
            <textarea id="post-text" name="post-text" class="new-post-text"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section class="h4">
    <h3 class="dash-list-title">Your Posts</h3>
    <div class="container">
        <div class="row, post-home">
            <div class="col-12 align-self-start">
                
                    {{#each posts as |post|}}
                    <li class="list">
                        {{> post-info post}}
                        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
                    </li><br>
                    {{/each}}
                
            </div>
        </div>
    </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
