<section class="home-body">
    <div class="container">
        <div class="row, post-home">
            <div class="col-12 align-self-start post-list">
                {{#each posts as |post|}}
                <li class="list">
                    {{> post-info post }}
                </li><br>
                {{/each}}
            </div>
        </div>
    </div>
</section>