<form class="login-form">
    <div>
        <label for="username-login" class="login-title">username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login" class="login-title">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>

<form class="signup-form">
    <div>
        <label for="username-signup" class="login-title">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup" class="login-title">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>

<script src="/javascript/login.js"></script>