* {
    box-sizing: border-box;
    /* background-color: gray; */
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    /* background-color:gray; */
  }
  
  button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #3486eb;
  }
  
  .post-list { 
    margin-left: 0%;
    padding: 0;
    border: 2px black;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
    background-color: black;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
    display:inline-block;
    vertical-align: -50%;
    margin-left: -20px;
    background-color: white;
    width: 90%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 2%;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
   .new-post-title {
    width: 80%;
    height: 100%;
  }

  .new-post-text {
    width: 80%;
    height: 100px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
    padding-left: 20px;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 100%;
  }

  header {
    background-color:black;
    width: 100%;
    height: 105px;
}

  header h1 {
      display: inline;
      color: aqua;
      font-size: 30px;
      background-color: grey;
      border-radius: 5px;
      border-color: white;
      padding: 10px;
      margin: 10px;
      margin-top: 10px;
      margin-left: 25px;
      margin-bottom: 10px;
      box-shadow: 5px 5px;
         
  }

  header nav {
   margin-bottom: 10px;
   margin-left: 20px;
}

header a {
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: color .1s;
  }
  
  a:hover {
    color: red;
  }

  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
    margin-bottom: 10px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }

  ol{
    display:inline-block;
    padding:20px;
    width: 80%;
    
}

.container {
    width: 150%;
    display: inline-block;
    justify-content: start;
    /* border: 1px solid black; */
    margin-top: 10px;
    background-color: white;
    
}

.list {
    border: 3px solid black;
    width: 103.5%;
    font-size: 15px;
    margin: 10px 0 10px -20px;
    /* margin-left: -20px; */
    background-color: white;
}

.h4 {
    margin-top: 20px;
    color: white;
}

.dash-title {
    color: white;
    padding-left: 25px;
}

.btn {
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
    color: white;
}

.row-title{
    color: white;
    background-color: black;
    padding: 5px;
    margin-left: 15px;
    width: 114%;
}

.row-text{
    color: black;
    background-color: white;
    padding: 5px;
    margin-left: 10px;
    width: 698px;
}

.meta {
    padding: 5px;
    margin-left: 10px;
    width: 698px;
}

.dash-list-title {
    color: white;
}

.edit-section-post {
    background-color: white;
}

.edit-post-h2 {
    color: black;
    padding-left: 20px;
}

.login-title {
    color: white;
}

.login-form {
    border: 2px solid white;
    padding: 20px;
    width: 300px;
}

.signup-form {
    border: 2px solid white;
    padding: 20px;
    width: 300px;
    margin-top: 10px;
}

.post-title-a {
    color: white;
}